<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>cloudX</title>

    <LINK REL="stylesheet" TYPE="text/css" HREF="/css/style.css">
    <LINK REL="stylesheet" TYPE="text/css" HREF="/css/accueil.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>

    <link href="/vendor/bootstrap-4.2.1-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>


</head>
<body>
<div class="wrapper --bg-light">
  <%- include('header-authenticated') %>
  <div class="mx-2 row">
    <script>
		function fileDelete(val) {
	  		fetch('/files', {}).then(function (response) {
	      		return response.json();
	      	}).then(function(data) {
		        let file = {
		            fileName: data[val]
		        }
		        fetch('/delete-file', {
		            method: 'POST',
		            body: JSON.stringify(file),
		            headers: {
		                'Content-Type': 'application/json',
		            }
		        });
            setTimeout(function(){
              window.location.reload()
            }, 500);
			});
		}
      let files = [];
      var myTable;
      fetchFiles();
      function fetchFiles() {
          fetch('/files', {}).then(function (response) {
              return response.json();
          }).then(function(data) {
              files = data;
              myTable= "<table class=\"table table-hover\"><thead><tr>";
              myTable+= "<th scope=\"col\">#</th>";
              myTable+= "<th scope=\"col\">File name</th>";
              myTable+= "<th scope=\"col\">date</th>";
              myTable+= "<th scope=\"col\">View</th>";
              myTable+= "<th scope=\"col\">Delete</th>";
              myTable+= "</tr></thead><tbody>";
              //<tr><td style='width: 100px; color: red;'>File name</td>";
              //myTable+="<tr><td style='width: 100px;'>------------------------------------------------------------------------------------------</td></tr>";
              for (var i=0; i < files.length; i++) {
              	myTable+="<tr><th scope=\"row\">"+ i +"</th>";
                myTable+="<td>" + files[i].fileName + "</td>";
                myTable+="<td>" + files[i].date + "</td>";
                myTable+="<td> <button type=\"button\" class=\"btn btn-outline-primary btn-sm\" onclick=\"location.href = '"+files[i].url+"';\"><img src=\"img/eye.png\" width=\"20\" height=\"20\"/></button></td>";
                myTable+="<td> <button type=\"button\" class=\"btn btn-outline-danger btn-sm\" onclick=\"fileDelete("+i+");\"><img src=\"img/trash.png\" width=\"20\" height=\"20\"/></button></td>";
                myTable+="</tr>"
                /*if (i!==files.length -1) {
                  myTable+="<tr><td style='width: 100px;'>------------------------------------------------------------------------------------------</td></tr>";
                }*/
              }
             myTable+="</tbody></table>";
             $("#message").html(myTable);
          });
      }


     </script>
       <div class="col-md-7">
            <p id="message"></p>
            <center><button type="button" class="btn btn-dark" onClick="window.location.reload();">Refresh</button></center>
      </div>
      <div class="col-md-4">
        <div class="col-md-12">
          &nbsp;
        </div>
        <div class="col-md-12">
          <form class="md-form" class="md-form" action="/file-upload" method="post" enctype="multipart/form-data">
            <div class="file-field">
              <div class="z-depth-1-half mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="img-upload"
                  alt="example placeholder">
              </div>
              <div class="d-flex justify-content-center">
                <div class="btn btn-mdb-color btn-rounded float-left">
                  <span>Choose file</span>
                  <input type="file" accept = "file_extension" name="filetoupload" id="file-selector">
                </div>
              </div>
              <center><button class="btn btn-primary btn-sm" type="submit">Upload</button></center>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  </script>
</body>
</html>
