<header>
    <nav class="navbar navbar-expand-lg navbar-dark --bg-primary">
        <span class="mx-4 d-none"></span>
        <a class="navbar-brand" href="/">
            <span class="text-light h5 m-0 logo">
                Xcloud
            </span>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/login" class="nav-link text-light">
                        Connection
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>