<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>sécurité et connexion</title>

    <link href="/vendor/bootstrap-4.2.1-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
    <script src="/vendor/Parsley.js-2.8.1/dist/parsley.min.js"></script>
    <script src="/vendor/Parsley.js-2.8.1/dist/i18n/fr.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socket.js"></script>

    <script src="/js/passwordUpdate.js"></script>
</head>

<body>
<div class="wrapper --bg-light">
    <%- include('header-authenticated') %>

    <div class="mx-2">
        <div class="container">
            <section class="row">
                <% if(locals.flash) { %>
                    <div class="col-lg-6 mx-auto alert alert-info mt-2">
                        <%= locals.flash['info'] %>
                    </div>
                <% } %>
            </section>

            <section class="row">
                <div class="col-lg-6 bg-light mx-auto my-3 p-4">
                    <h5 class="text-dark text-center mb-4">
                        Changer le mot de passe
                    </h5>
                    <p class="mb-3">
                        Nous vous conseillons d’utiliser un mot de passe sûr que vous n’utilisez nulle part ailleurs
                    </p>
                    <form action="/passwordUpdate" method="post" class="form mb-3" data-parsley-validate
                          onsubmit="return validateForm();">
                        <input name="pswActuelle" type="password" class="form-control mb-2" required
                               placeholder="Mot de passe actuelle"/>
                        <input id="pswNouv" name="pswNouv" type="password" class="form-control mb-2" onblur="verifmdp()"
                               required placeholder="Nouveau mot de passe"/>
                        <input id="pswNouvC" name="pswNouvConfi" type="password" class="form-control mb-2"
                               onblur="verifmdpMatch()" required placeholder="Retapez le nouveau mot de passe"/>
                        <input type="submit" value="Enregistrer les modifications" class="mb-2 mt-3 btn --btn-primary mx-auto d-block"/>
                    </form>
                    <a href="#" class="text-info text-center d-block">
                        Mot de passe oublié?
                    </a>

                </div>
            </section>
        </div>
    </div>

</div>
<script src="/js/passwordUpdate.js"></script>
</body>
</html>